@model IEnumerable<Consola.Models.Empleado>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdEmpleado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdTipoIdentificacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Identificacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apellido1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apellido2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Direccion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaNacimiento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.departamento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Correo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Provincia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Canton)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Distrito)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaEntrada)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaSalida)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdEmpleado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdTipoIdentificacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Identificacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Apellido1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Apellido2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Direccion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaNacimiento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.departamento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Correo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefono)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Provincia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Canton)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Distrito)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaEntrada)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaSalida)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
